html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: auto auto;
    max-width:  80%; /* 1000px; */
    padding: 0 10px;
    width: 100%;
    font-size: 18px;
    /* font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Ubuntu Mono", "Liberation Mono", "Courier New", monospace; */
    /* font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background-color: #f7f7f7;  /*#fffff8;*/
}

/******** Header *************/
nav {
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid grey;
}

nav a {
    color: black;
    /* display: inline; */
    /* float: left; */
    /* display: block; */
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}

nav a:hover {
    color: white;
    background-color: blue;
}

#site-name {
    font-weight: bold;
}

#site-avatar {
    width: 30px;
}

/**** Body *****/
h1 {
    font-size: 3em;
}

/***** Footer *****/

footer {
    /* border-top: 1px solid grey; */
    color: grey;
    margin-top: 200px;
    padding: 20px 0;
    text-align: left;
    font-size: 1rem;
    /* background-color: black; */
    height: 155px; /* .push must be the same height as .footer */
}
