html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0 auto;
    max-width:  90%; /* 1000px; */
    padding: 0 10px;
    width: 100%;
    font-size: 18px;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/******** Header *************/

nav {
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid black;
}

nav a {
    color: black;
    /* display: inline; */
    /* float: left; */
    /* display: block; */
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}

nav a:hover {
    color: white;
    background-color: blue;
}

#site-name {
    font-weight: bold;
}

#site-avatar img {
    width: 30px;
}

/***** Footer *****/

footer {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    border-top: 1px solid #333;
    margin-top: 50px;
    padding: 20px 0;
    text-align: center
}

footer .credits {
    font-size: 1rem
}